## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [10]:
ejer_1 = [1,2,3,4,5]

print(ejer_1)

type(ejer_1)

ejer_1.reverse()

print(ejer_1)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [43]:
ejer_2 = [1,2,3,4,5]

ejer_2 = [num**2 for num in ejer_2]

print(ejer_2)

[1, 4, 9, 16, 25]

In [29]:
ejer_2 = [1,2,3,4,5]

for num in ejer_2:
    print(num**2)

1
4
9
16
25

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [8]:
ejer_3_1 = ["Hola", "amigo"]

ejer_3_2 = ["Que", "tal"]

ejer_3_3 = ejer_3_1 + ejer_3_2

print(ejer_3_3[0],ejer_3_3[2])

print(ejer_3_3[0],ejer_3_3[3])

print(ejer_3_3[1],ejer_3_3[2])

print(ejer_3_3[1],ejer_3_3[3])

Hola Que
Hola tal
amigo Que
amigo tal

In [31]:
ejer_3_1 = ["Hola", "amigo"]

ejer_3_2 = ["Que", "tal"]

resultado = []

for el1 in ejer_3_1:
    for el2 in ejer_3_2:
        resultado.append(el1+''+el2)

print(resultado)

['HolaQue', 'Holatal', 'amigoQue', 'amigotal']

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [13]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

print(ejer_4.index(45))

ejer_4[4] = 0

print(ejer_4)

4
[20, 47, 19, 29, 0, 67, 78, 90]

In [34]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

indice = ejer_4.index(45)
ejer_4[indice] = 0

ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

In [35]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

for k in range(len(ejer_4)-1):
    if ejer_4[k] == 45:
        ejer_4[k] = 0
        
ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

In [36]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

for index,value in enumerate(ejer_4):
    if value == 45:
        ejer_4[k] = 0
        
ejer_4

[20, 47, 19, 29, 45, 67, 0, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [41]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
ejer_5_2 = ejer_5.copy()

for item in ejer_5: # Ya que al eliminar el penúltimo 3 el último 3 pasa a la posicion anterior, el bucle ya no lo recorre.
    if item == 3:
        ejer_5_2.remove(item)
print(ejer_5_2)

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [53]:
# 1.
tupla = (1,2,3)
print(tupla)

# 2.
tupla2 = (1,)
print(tupla2)
print(type(tupla2))

# 3.
tupla3 = (1, 'hola', 3.2)
print(tupla3)

# 4.
print(tupla3[0])
print(tupla3[len(tupla3)-1])

# 5.
tupla5 = tupla3 + (4,)
print(tupla5)

# 6.
lista6 = list(tupla5)
lista6.pop(len(lista6)%2)
tupla6 = tuple(lista6)
print(tupla6)

# 7.
lista7 = list(tupla5)
print(lista7)

(1, 2, 3)
(1,)
<class 'tuple'>
(1, 'hola', 3.2)
1
3.2
(1, 'hola', 3.2, 4)
('hola', 3.2, 4)
[1, 'hola', 3.2, 4]

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [39]:
ejer_7 = ("cien", "cañones", "por", "banda")

ejer_7_string = " ".join(ejer_7)

print(ejer_7_string)

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [43]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

print(ejer_8[2])
print(ejer_8[len(ejer_8)-3])

3
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [54]:
#1.

ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

counter = 0

for num in ejer_9:
    if num == 3:
        counter += 1

print(counter)

#2.

tupla2 = ejer_9[4:10]
print(tupla2)

#3.
print(len(ejer_9))

7
(19, 3, 29, 45, 67, 78)
26

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [55]:
60 in ejer_9

False

## Ejercicio 11
1. Convierte la tupla del ejercicio 9 en una lista
2. Convierte la tupla del ejercicio 9 en un set
3. Convierte la tupla del ejercicio 9 en un diccionario. Usa también los indices

In [61]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

# 1.
print(list(ejer_9))

#2.
print(set(ejer_9))

#3.
dic = {}

for ind, valor in enumerate(ejer_9):
    dic[ind] = valor

print(dic)
    
# OR:

print (dict(enumerate(ejer_9)))

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]
{2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}
{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}
{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 12
Convierte la siguiente tupla en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [63]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

dic2 = {}

for ind, valor in ejer_12:
    dic2[ind] = valor
    
print(dic2)

# Ya que las claves no son únicas, los valores se pierden.

{'x': 3, 'y': 2, 'z': 1}

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [69]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}

# 1.
print(sorted(list(ejer_13.keys())))

# 2.
print(sorted(list(ejer_13.keys()), reverse=True))

# 3.
ejer_13[9] = 65
print(ejer_13)

#4.
print(2 in ejer_13.keys())

#5.
for k,v in ejer_13.items():
    print(k,v)

[2, 4, 5, 8]
[8, 5, 4, 2]
{4: 78, 2: 98, 8: 234, 5: 29, 9: 65}
True
4 78
2 98
8 234
5 29
9 65

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [72]:
ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}

ejer_14_1.update(ejer_14_2)

print(ejer_14_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [73]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

sum(ejer_15.values())

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [75]:
ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
resultado = 1

for el in ejer_16.values():
    resultado = resultado * el
    
print(resultado)

19326120

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [80]:
#1.
set = {1, 2, 3}
print(set)

#2.
set.add(4)
print(set)

#3.
set.remove(4)
print(set)

#4.
set.discard(10)
print(set)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 3}

In [1]:
# Para comprobar si hay elementos duplicados en una colección.
L = [1, 2, 3, 4, 1]
len(set(L)) == len(L)

False